src/Dataset/blueprints/Tìm kiếm khách hàng.blueprint.json
{
    "name": "Tìm kiếm khách hàng",
    "flow": [
        {
            "id": 1,
            "module": "gateway:CustomWebHook",
            "version": 1,
            "parameters": {
                "hook": 2402940,
                "maxResults": 1
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -232,
                    "y": -30
                },
                "restore": {
                    "parameters": {
                        "hook": {
                            "data": {
                                "editable": "true"
                            },
                            "label": "Khách hàng"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "hook",
                        "type": "hook:gateway-webhook",
                        "label": "Webhook",
                        "required": true
                    },
                    {
                        "name": "maxResults",
                        "type": "number",
                        "label": "Maximum number of results"
                    }
                ]
            }
        },
        {
            "id": 15,
            "module": "google-sheets:clearValuesFromRange",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7716070
            },
            "mapper": {
                "from": "drive",
                "range": "A2:Z",
                "sheet": "Khách hàng",
                "select": "list",
                "spreadsheetId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1balm_A5AoK2PAB1uQcDsZdalRoFlwgcS/1k9yjut3k1tl6XHwP2knFljpfLZFuKwH9EqWh7FwNDlM"
            },
            "metadata": {
                "designer": {
                    "x": 64,
                    "y": -28
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "sheet": {
                            "label": "Khách hàng"
                        },
                        "select": {
                            "label": "Search by path"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Test",
                                "Tổng hợp",
                                "Tìm sản phẩm"
                            ]
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheet",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7716070
            },
            "mapper": {
                "from": "drive",
                "range": "A2:Z",
                "select": "list",
                "sheetId": "Yêu cầu",
                "spreadsheetId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1balm_A5AoK2PAB1uQcDsZdalRoFlwgcS/1k9yjut3k1tl6XHwP2knFljpfLZFuKwH9EqWh7FwNDlM",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 346,
                    "y": -30
                },
                "restore": {
                    "expect": {
                        "from": {
                            "label": "My Drive"
                        },
                        "select": {
                            "label": "Search by path"
                        },
                        "sheetId": {
                            "label": "Yêu cầu"
                        },
                        "spreadsheetId": {
                            "path": [
                                "Test",
                                "Tổng hợp",
                                "Tìm sản phẩm"
                            ]
                        },
                        "includesHeaders": {
                            "mode": "chose"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "from",
                        "type": "select",
                        "label": "Drive",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "file",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Sản phẩm không đủ số lượng (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Sản phẩm muốn tìm (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "So sánh giá nhập (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Tìm sản phẩm tồn kho dưới định mức (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Kiểm tra khách hàng (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "(F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "(G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "builtin:BasicRouter",
            "version": 1,
            "mapper": null,
            "metadata": {
                "designer": {
                    "x": 704,
                    "y": -18
                }
            },
            "routes": [
                {
                    "flow": [
                        {
                            "id": 6,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`4`}}",
                                            "b": "Thường",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A2:Z",
                                "select": "list",
                                "sheetId": "KHACH HANG",
                                "spreadsheetId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1balm_A5AoK2PAB1uQcDsZdalRoFlwgcS/1WjUZhTpAzUMpLeds-KTKf5uEg_v9PhWQQPUZQVdGAJw",
                                "tableFirstRow": "A1:Z1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1335,
                                    "y": -347
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "KHACH HANG"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Test",
                                                "Tổng hợp",
                                                "Tổng hợp Danh sách Khách hàng"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "text",
                                        "label": "Row with headers"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Tên khách hàng * (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Mã khách hàng (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Mã nhóm khách hàng (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Tổng chi tiêu (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Ngày mua cuối cùng (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Điểm hiện tại (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Điện thoại (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 7,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 6
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{6.`2`}}",
                                            "b": "BANLE",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{6.`3`}}",
                                            "b": "5000000",
                                            "o": "number:less"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "0": "{{6.`0`}}",
                                "1": "{{6.`1`}}",
                                "2": "{{6.`2`}}",
                                "3": "{{6.`3`}}",
                                "4": "{{6.`4`}}",
                                "5": "{{6.`5`}}",
                                "6": "{{6.`6`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1660,
                                    "y": -349
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [2]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 12,
                            "module": "google-sheets:updateMultipleRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "mapper": {
                                "rows": "{{7.array}}",
                                "range": "A2:Z",
                                "sheetId": "Khách hàng",
                                "spreadsheetId": "1k9yjut3k1tl6XHwP2knFljpfLZFuKwH9EqWh7FwNDlM",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1960,
                                    "y": -349
                                },
                                "restore": {
                                    "expect": {
                                        "rows": {
                                            "mode": "edit"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Khách hàng"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option"
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "rows",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "values",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Column"
                                                    },
                                                    "type": "array",
                                                    "label": "Values",
                                                    "labels": {
                                                        "add": "Add value"
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Row"
                                        },
                                        "type": "array",
                                        "label": "Rows"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 8,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`4`}}",
                                            "b": "Vip",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A2:Z",
                                "select": "list",
                                "sheetId": "KHACH HANG",
                                "spreadsheetId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1balm_A5AoK2PAB1uQcDsZdalRoFlwgcS/1WjUZhTpAzUMpLeds-KTKf5uEg_v9PhWQQPUZQVdGAJw",
                                "tableFirstRow": "A1:Z1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1349,
                                    "y": -110
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "KHACH HANG"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Test",
                                                "Tổng hợp",
                                                "Tổng hợp Danh sách Khách hàng"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "text",
                                        "label": "Row with headers"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Tên khách hàng * (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Mã khách hàng (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Mã nhóm khách hàng (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Tổng chi tiêu (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Ngày mua cuối cùng (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Điểm hiện tại (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Điện thoại (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 9,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 8
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{8.`2`}}",
                                            "b": "VIP",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{8.`3`}}",
                                            "b": "5000000",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "0": "{{8.`0`}}",
                                "1": "{{8.`1`}}",
                                "2": "{{8.`2`}}",
                                "3": "{{8.`3`}}",
                                "4": "{{8.`4`}}",
                                "5": "{{8.`5`}}",
                                "6": "{{8.`6`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1690,
                                    "y": -105
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [2]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 13,
                            "module": "google-sheets:updateMultipleRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "mapper": {
                                "rows": "{{9.array}}",
                                "range": "A2:Z",
                                "sheetId": "Khách hàng",
                                "spreadsheetId": "1k9yjut3k1tl6XHwP2knFljpfLZFuKwH9EqWh7FwNDlM",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1969,
                                    "y": -108
                                },
                                "restore": {
                                    "expect": {
                                        "rows": {
                                            "mode": "edit"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Khách hàng"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option"
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "rows",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "values",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Column"
                                                    },
                                                    "type": "array",
                                                    "label": "Values",
                                                    "labels": {
                                                        "add": "Add value"
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Row"
                                        },
                                        "type": "array",
                                        "label": "Rows"
                                    }
                                ]
                            }
                        }
                    ]
                },
                {
                    "flow": [
                        {
                            "id": 10,
                            "module": "google-sheets:getSheetContent",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{4.`4`}}",
                                            "b": "Đủ điều kiện nhưng chưa phải Vip",
                                            "o": "text:equal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "from": "drive",
                                "range": "A2:Z",
                                "select": "list",
                                "sheetId": "KHACH HANG",
                                "spreadsheetId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1balm_A5AoK2PAB1uQcDsZdalRoFlwgcS/1WjUZhTpAzUMpLeds-KTKf5uEg_v9PhWQQPUZQVdGAJw",
                                "tableFirstRow": "A1:Z1",
                                "includesHeaders": true,
                                "valueRenderOption": "FORMATTED_VALUE",
                                "dateTimeRenderOption": "FORMATTED_STRING"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1337,
                                    "y": 181
                                },
                                "restore": {
                                    "expect": {
                                        "from": {
                                            "label": "My Drive"
                                        },
                                        "select": {
                                            "label": "Search by path"
                                        },
                                        "sheetId": {
                                            "label": "KHACH HANG"
                                        },
                                        "spreadsheetId": {
                                            "path": [
                                                "Test",
                                                "Tổng hợp",
                                                "Tổng hợp Danh sách Khách hàng"
                                            ]
                                        },
                                        "includesHeaders": {
                                            "mode": "chose"
                                        },
                                        "valueRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted value"
                                        },
                                        "dateTimeRenderOption": {
                                            "mode": "chose",
                                            "label": "Formatted string"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "select",
                                        "type": "select",
                                        "label": "Search Method",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "list",
                                                "fromAll",
                                                "map"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "name": "includesHeaders",
                                        "type": "boolean",
                                        "label": "Table contains headers",
                                        "required": true
                                    },
                                    {
                                        "name": "valueRenderOption",
                                        "type": "select",
                                        "label": "Value render option",
                                        "validate": {
                                            "enum": [
                                                "FORMATTED_VALUE",
                                                "UNFORMATTED_VALUE",
                                                "FORMULA"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "dateTimeRenderOption",
                                        "type": "select",
                                        "label": "Date and time render option",
                                        "validate": {
                                            "enum": [
                                                "SERIAL_NUMBER",
                                                "FORMATTED_STRING"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "from",
                                        "type": "select",
                                        "label": "Drive",
                                        "required": true,
                                        "validate": {
                                            "enum": [
                                                "drive",
                                                "share",
                                                "team"
                                            ]
                                        }
                                    },
                                    {
                                        "name": "spreadsheetId",
                                        "type": "file",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "tableFirstRow",
                                        "type": "text",
                                        "label": "Row with headers"
                                    }
                                ],
                                "interface": [
                                    {
                                        "name": "__IMTLENGTH__",
                                        "type": "uinteger",
                                        "label": "Total number of bundles"
                                    },
                                    {
                                        "name": "__IMTINDEX__",
                                        "type": "uinteger",
                                        "label": "Bundle order position"
                                    },
                                    {
                                        "name": "__ROW_NUMBER__",
                                        "type": "number",
                                        "label": "Row number"
                                    },
                                    {
                                        "name": "__SPREADSHEET_ID__",
                                        "type": "text",
                                        "label": "Spreadsheet ID"
                                    },
                                    {
                                        "name": "__SHEET__",
                                        "type": "text",
                                        "label": "Sheet"
                                    },
                                    {
                                        "name": "0",
                                        "type": "text",
                                        "label": "Tên khách hàng * (A)"
                                    },
                                    {
                                        "name": "1",
                                        "type": "text",
                                        "label": "Mã khách hàng (B)"
                                    },
                                    {
                                        "name": "2",
                                        "type": "text",
                                        "label": "Mã nhóm khách hàng (C)"
                                    },
                                    {
                                        "name": "3",
                                        "type": "text",
                                        "label": "Tổng chi tiêu (D)"
                                    },
                                    {
                                        "name": "4",
                                        "type": "text",
                                        "label": "Ngày mua cuối cùng (E)"
                                    },
                                    {
                                        "name": "5",
                                        "type": "text",
                                        "label": "Điểm hiện tại (F)"
                                    },
                                    {
                                        "name": "6",
                                        "type": "text",
                                        "label": "Điện thoại (G)"
                                    },
                                    {
                                        "name": "7",
                                        "type": "text",
                                        "label": "(H)"
                                    },
                                    {
                                        "name": "8",
                                        "type": "text",
                                        "label": "(I)"
                                    },
                                    {
                                        "name": "9",
                                        "type": "text",
                                        "label": "(J)"
                                    },
                                    {
                                        "name": "10",
                                        "type": "text",
                                        "label": "(K)"
                                    },
                                    {
                                        "name": "11",
                                        "type": "text",
                                        "label": "(L)"
                                    },
                                    {
                                        "name": "12",
                                        "type": "text",
                                        "label": "(M)"
                                    },
                                    {
                                        "name": "13",
                                        "type": "text",
                                        "label": "(N)"
                                    },
                                    {
                                        "name": "14",
                                        "type": "text",
                                        "label": "(O)"
                                    },
                                    {
                                        "name": "15",
                                        "type": "text",
                                        "label": "(P)"
                                    },
                                    {
                                        "name": "16",
                                        "type": "text",
                                        "label": "(Q)"
                                    },
                                    {
                                        "name": "17",
                                        "type": "text",
                                        "label": "(R)"
                                    },
                                    {
                                        "name": "18",
                                        "type": "text",
                                        "label": "(S)"
                                    },
                                    {
                                        "name": "19",
                                        "type": "text",
                                        "label": "(T)"
                                    },
                                    {
                                        "name": "20",
                                        "type": "text",
                                        "label": "(U)"
                                    },
                                    {
                                        "name": "21",
                                        "type": "text",
                                        "label": "(V)"
                                    },
                                    {
                                        "name": "22",
                                        "type": "text",
                                        "label": "(W)"
                                    },
                                    {
                                        "name": "23",
                                        "type": "text",
                                        "label": "(X)"
                                    },
                                    {
                                        "name": "24",
                                        "type": "text",
                                        "label": "(Y)"
                                    },
                                    {
                                        "name": "25",
                                        "type": "text",
                                        "label": "(Z)"
                                    }
                                ]
                            }
                        },
                        {
                            "id": 11,
                            "module": "builtin:BasicAggregator",
                            "version": 1,
                            "parameters": {
                                "feeder": 10
                            },
                            "filter": {
                                "name": "",
                                "conditions": [
                                    [
                                        {
                                            "a": "{{10.`2`}}",
                                            "b": "BANLE",
                                            "o": "text:equal"
                                        },
                                        {
                                            "a": "{{10.`3`}}",
                                            "b": "5000000",
                                            "o": "number:greaterorequal"
                                        }
                                    ]
                                ]
                            },
                            "mapper": {
                                "0": "{{10.`0`}}",
                                "1": "{{10.`1`}}",
                                "2": "{{10.`2`}}",
                                "3": "{{10.`3`}}",
                                "4": "{{10.`4`}}",
                                "5": "{{10.`5`}}",
                                "6": "{{10.`6`}}"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1722,
                                    "y": 182
                                },
                                "restore": {
                                    "extra": {
                                        "feeder": {
                                            "label": "Google Sheets - Get Range Values [2]"
                                        },
                                        "target": {
                                            "label": "Custom"
                                        }
                                    }
                                }
                            }
                        },
                        {
                            "id": 14,
                            "module": "google-sheets:updateMultipleRows",
                            "version": 2,
                            "parameters": {
                                "__IMTCONN__": 7716070
                            },
                            "mapper": {
                                "rows": "{{11.array}}",
                                "range": "A2:Z",
                                "sheetId": "Khách hàng",
                                "spreadsheetId": "1k9yjut3k1tl6XHwP2knFljpfLZFuKwH9EqWh7FwNDlM",
                                "valueInputOption": "USER_ENTERED"
                            },
                            "metadata": {
                                "designer": {
                                    "x": 1992,
                                    "y": 171
                                },
                                "restore": {
                                    "expect": {
                                        "rows": {
                                            "mode": "edit"
                                        },
                                        "sheetId": {
                                            "mode": "chose",
                                            "label": "Khách hàng"
                                        },
                                        "valueInputOption": {
                                            "mode": "chose",
                                            "label": "User entered"
                                        }
                                    },
                                    "parameters": {
                                        "__IMTCONN__": {
                                            "data": {
                                                "scoped": "true",
                                                "connection": "google"
                                            },
                                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                                        }
                                    }
                                },
                                "parameters": [
                                    {
                                        "name": "__IMTCONN__",
                                        "type": "account:google",
                                        "label": "Connection",
                                        "required": true
                                    }
                                ],
                                "expect": [
                                    {
                                        "name": "spreadsheetId",
                                        "type": "text",
                                        "label": "Spreadsheet ID",
                                        "required": true
                                    },
                                    {
                                        "name": "valueInputOption",
                                        "type": "select",
                                        "label": "Value input option"
                                    },
                                    {
                                        "type": "hidden"
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "sheetId",
                                        "type": "select",
                                        "label": "Sheet Name",
                                        "required": true
                                    },
                                    {
                                        "name": "range",
                                        "type": "text",
                                        "label": "Range",
                                        "required": true
                                    },
                                    {
                                        "mode": "edit",
                                        "name": "rows",
                                        "spec": {
                                            "name": "value",
                                            "spec": [
                                                {
                                                    "name": "values",
                                                    "spec": {
                                                        "type": "text",
                                                        "label": "Column"
                                                    },
                                                    "type": "array",
                                                    "label": "Values",
                                                    "labels": {
                                                        "add": "Add value"
                                                    }
                                                }
                                            ],
                                            "type": "collection",
                                            "label": "Row"
                                        },
                                        "type": "array",
                                        "label": "Rows"
                                    }
                                ]
                            }
                        }
                    ]
                }
            ]
        }
    ],
    "metadata": {
        "instant": true,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}