src/data/blueprints/Danh sách khách hàng.blueprint.json
{
    "name": "Danh sách khách hàng",
    "flow": [
        {
            "id": 1,
            "module": "google-email:TriggerNewEmail",
            "version": 2,
            "parameters": {
                "folder": "Sapo",
                "xGmRaw": "from:no-reply@sapo.vn subject:khách hàng",
                "account": 7715660,
                "markSeen": true,
                "maxResults": 1,
                "searchType": "gmail"
            },
            "mapper": {},
            "metadata": {
                "designer": {
                    "x": -578,
                    "y": -121
                },
                "restore": {
                    "parameters": {
                        "folder": {
                            "path": [
                                "Sapo"
                            ]
                        },
                        "account": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (sonht.23bi14386@usth.edu.vn)"
                        },
                        "searchType": {
                            "label": "Gmail filter"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "searchType",
                        "type": "select",
                        "label": "Filter type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "simple",
                                "gmail"
                            ]
                        }
                    },
                    {
                        "name": "markSeen",
                        "type": "boolean",
                        "label": "Mark email message(s) as read when fetched"
                    },
                    {
                        "name": "maxResults",
                        "type": "uinteger",
                        "label": "Maximum number of results",
                        "required": true
                    },
                    {
                        "name": "folder",
                        "type": "folder",
                        "label": "Folder",
                        "required": true
                    },
                    {
                        "name": "xGmRaw",
                        "type": "text",
                        "label": "Query",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 2,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "mapper": {
                "name": "Test",
                "scope": "roundtrip",
                "value": "{{1.text}}"
            },
            "metadata": {
                "designer": {
                    "x": -278,
                    "y": -121
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One cycle"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Test",
                        "type": "any",
                        "label": "Test"
                    }
                ]
            }
        },
        {
            "id": 3,
            "module": "regexp:GetElementsFromText",
            "version": 1,
            "parameters": {
                "continueWhenNoRes": false
            },
            "mapper": {
                "text": "{{2.Test}}",
                "pattern": "##http_urls",
                "requireProtocol": true,
                "specialCharsPattern": "? & - = % _"
            },
            "metadata": {
                "designer": {
                    "x": 22,
                    "y": -121
                },
                "restore": {
                    "expect": {
                        "pattern": {
                            "label": "HTTP address"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "continueWhenNoRes",
                        "type": "boolean",
                        "label": "Continue the execution of the route even if the module finds no matches",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "pattern",
                        "type": "select",
                        "label": "Pattern",
                        "required": true,
                        "validate": {
                            "enum": [
                                "##emails",
                                "##html_tags",
                                "##http_urls",
                                "##ftp_urls",
                                "##telephone_numbers",
                                "##ipv4",
                                "##ipv6",
                                "##emoji",
                                "##key_value_pairs"
                            ]
                        }
                    },
                    {
                        "name": "text",
                        "type": "text",
                        "label": "Text",
                        "required": true
                    },
                    {
                        "name": "requireProtocol",
                        "type": "boolean",
                        "label": "Full addresses",
                        "required": true
                    },
                    {
                        "name": "specialCharsPattern",
                        "type": "text",
                        "label": "Special characters in the pattern"
                    }
                ],
                "interface": [
                    {
                        "name": "match",
                        "type": "any",
                        "label": "Match"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "util:SetVariable2",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "test",
                "conditions": [
                    [
                        {
                            "a": "{{3.match}}",
                            "b": "s3.ap",
                            "o": "text:contain"
                        },
                        {
                            "a": "{{3.match}}",
                            "b": "customer",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "name": "Test2",
                "scope": "execution",
                "value": "{{3.match}}"
            },
            "metadata": {
                "designer": {
                    "x": 322,
                    "y": -121
                },
                "restore": {
                    "expect": {
                        "scope": {
                            "label": "One execution"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "name",
                        "type": "text",
                        "label": "Variable name",
                        "required": true
                    },
                    {
                        "name": "scope",
                        "type": "select",
                        "label": "Variable lifetime",
                        "required": true,
                        "validate": {
                            "enum": [
                                "roundtrip",
                                "execution"
                            ]
                        }
                    },
                    {
                        "name": "value",
                        "type": "any",
                        "label": "Variable value"
                    }
                ],
                "interface": [
                    {
                        "name": "Test2",
                        "type": "any",
                        "label": "Test2"
                    }
                ]
            }
        },
        {
            "id": 5,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "{{4.Test2}}",
                "gzip": true,
                "method": "get",
                "headers": [
                    {
                        "name": "Accept",
                        "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                    },
                    {
                        "name": "Content-Type",
                        "value": "application/octet-stream"
                    }
                ],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": false,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": -330,
                    "y": 265
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null,
                                null
                            ]
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "google-drive:uploadAFile",
            "version": 4,
            "parameters": {
                "__IMTCONN__": 7715660
            },
            "mapper": {
                "data": "{{5.data}}",
                "title": "Danh sách khách hàng",
                "select": "value",
                "convert": true,
                "filename": "Danh sách NCC ",
                "folderId": "/1m5M-BojGOKCpd0wW9Rkh2XgrlCkLPX_k/1301lNvUGDUMjzY3IShyUQCJqCMoZ5KrX",
                "targetType": "application/vnd.google-apps.spreadsheet",
                "destination": "drive"
            },
            "metadata": {
                "designer": {
                    "x": 26,
                    "y": 260
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Select from the list"
                        },
                        "folderId": {
                            "mode": "chose",
                            "path": [
                                "Test",
                                "Khách hàng"
                            ]
                        },
                        "targetType": {
                            "label": "application/vnd.google-apps.spreadsheet"
                        },
                        "destination": {
                            "label": "My Drive"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google-restricted"
                            },
                            "label": "My Google Restricted connection (sonht.23bi14386@usth.edu.vn)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google-restricted",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "type": "hidden"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Enter a Folder ID",
                        "required": true,
                        "validate": {
                            "enum": [
                                "map",
                                "value"
                            ]
                        }
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "New File Name"
                    },
                    {
                        "name": "filename",
                        "type": "text",
                        "label": "File Name",
                        "required": true
                    },
                    {
                        "name": "data",
                        "type": "buffer",
                        "label": "Data",
                        "required": true
                    },
                    {
                        "name": "convert",
                        "type": "boolean",
                        "label": "Convert a File",
                        "required": true
                    },
                    {
                        "name": "destination",
                        "type": "select",
                        "label": "New Drive Location",
                        "required": true,
                        "validate": {
                            "enum": [
                                "drive",
                                "share",
                                "team"
                            ]
                        }
                    },
                    {
                        "name": "folderId",
                        "type": "folder",
                        "label": "New Folder Location",
                        "required": true
                    },
                    {
                        "name": "targetType",
                        "type": "select",
                        "label": "Target Google File Type",
                        "required": true
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 10,
            "module": "google-sheets:getSheetContent",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7716070
            },
            "mapper": {
                "range": "A2:Z",
                "select": "map",
                "sheetId": "KHACH HANG",
                "spreadsheetId": "{{6.id}}",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": true,
                "valueRenderOption": "FORMATTED_VALUE",
                "dateTimeRenderOption": "FORMATTED_STRING"
            },
            "metadata": {
                "designer": {
                    "x": 333,
                    "y": 242
                },
                "restore": {
                    "expect": {
                        "select": {
                            "label": "Enter manually"
                        },
                        "includesHeaders": {
                            "mode": "chose"
                        },
                        "valueRenderOption": {
                            "mode": "chose",
                            "label": "Formatted value"
                        },
                        "dateTimeRenderOption": {
                            "mode": "chose",
                            "label": "Formatted string"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    },
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "list",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "boolean",
                        "label": "Table contains headers",
                        "required": true
                    },
                    {
                        "name": "valueRenderOption",
                        "type": "select",
                        "label": "Value render option",
                        "validate": {
                            "enum": [
                                "FORMATTED_VALUE",
                                "UNFORMATTED_VALUE",
                                "FORMULA"
                            ]
                        }
                    },
                    {
                        "name": "dateTimeRenderOption",
                        "type": "select",
                        "label": "Date and time render option",
                        "validate": {
                            "enum": [
                                "SERIAL_NUMBER",
                                "FORMATTED_STRING"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "text",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "text",
                        "label": "Row with headers"
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "__ROW_NUMBER__",
                        "type": "number",
                        "label": "Row number"
                    },
                    {
                        "name": "__SPREADSHEET_ID__",
                        "type": "text",
                        "label": "Spreadsheet ID"
                    },
                    {
                        "name": "__SHEET__",
                        "type": "text",
                        "label": "Sheet"
                    },
                    {
                        "name": "0",
                        "type": "text",
                        "label": "Tên khách hàng * (A)"
                    },
                    {
                        "name": "1",
                        "type": "text",
                        "label": "Mã khách hàng (B)"
                    },
                    {
                        "name": "2",
                        "type": "text",
                        "label": "Mã nhóm khách hàng (C)"
                    },
                    {
                        "name": "3",
                        "type": "text",
                        "label": "Tổng chi tiêu (D)"
                    },
                    {
                        "name": "4",
                        "type": "text",
                        "label": "Ngày mua cuối cùng (E)"
                    },
                    {
                        "name": "5",
                        "type": "text",
                        "label": "Điểm hiện tại (F)"
                    },
                    {
                        "name": "6",
                        "type": "text",
                        "label": "Điện thoại (G)"
                    },
                    {
                        "name": "7",
                        "type": "text",
                        "label": "(H)"
                    },
                    {
                        "name": "8",
                        "type": "text",
                        "label": "(I)"
                    },
                    {
                        "name": "9",
                        "type": "text",
                        "label": "(J)"
                    },
                    {
                        "name": "10",
                        "type": "text",
                        "label": "(K)"
                    },
                    {
                        "name": "11",
                        "type": "text",
                        "label": "(L)"
                    },
                    {
                        "name": "12",
                        "type": "text",
                        "label": "(M)"
                    },
                    {
                        "name": "13",
                        "type": "text",
                        "label": "(N)"
                    },
                    {
                        "name": "14",
                        "type": "text",
                        "label": "(O)"
                    },
                    {
                        "name": "15",
                        "type": "text",
                        "label": "(P)"
                    },
                    {
                        "name": "16",
                        "type": "text",
                        "label": "(Q)"
                    },
                    {
                        "name": "17",
                        "type": "text",
                        "label": "(R)"
                    },
                    {
                        "name": "18",
                        "type": "text",
                        "label": "(S)"
                    },
                    {
                        "name": "19",
                        "type": "text",
                        "label": "(T)"
                    },
                    {
                        "name": "20",
                        "type": "text",
                        "label": "(U)"
                    },
                    {
                        "name": "21",
                        "type": "text",
                        "label": "(V)"
                    },
                    {
                        "name": "22",
                        "type": "text",
                        "label": "(W)"
                    },
                    {
                        "name": "23",
                        "type": "text",
                        "label": "(X)"
                    },
                    {
                        "name": "24",
                        "type": "text",
                        "label": "(Y)"
                    },
                    {
                        "name": "25",
                        "type": "text",
                        "label": "(Z)"
                    }
                ]
            }
        },
        {
            "id": 11,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 10
            },
            "mapper": {
                "0": "{{10.`0`}}",
                "1": "{{10.`1`}}",
                "2": "{{10.`2`}}",
                "3": "{{10.`3`}}",
                "4": "{{10.`4`}}",
                "5": "{{10.`5`}}",
                "6": "{{10.`6`}}"
            },
            "metadata": {
                "designer": {
                    "x": 592,
                    "y": 242
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Get Range Values [10]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                }
            }
        },
        {
            "id": 9,
            "module": "google-sheets:updateMultipleRows",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 7716070
            },
            "mapper": {
                "rows": "{{11.array}}",
                "range": "A2:Z",
                "sheetId": "KHACH HANG",
                "spreadsheetId": "1WjUZhTpAzUMpLeds-KTKf5uEg_v9PhWQQPUZQVdGAJw",
                "valueInputOption": "USER_ENTERED"
            },
            "metadata": {
                "designer": {
                    "x": 961,
                    "y": 233
                },
                "restore": {
                    "expect": {
                        "rows": {
                            "mode": "edit"
                        },
                        "sheetId": {
                            "mode": "chose",
                            "label": "KHACH HANG"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (sonht.23bi14386@usth.edu.vn)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option"
                    },
                    {
                        "type": "hidden"
                    },
                    {
                        "mode": "edit",
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "range",
                        "type": "text",
                        "label": "Range",
                        "required": true
                    },
                    {
                        "mode": "edit",
                        "name": "rows",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "values",
                                    "spec": {
                                        "type": "text",
                                        "label": "Column"
                                    },
                                    "type": "array",
                                    "label": "Values",
                                    "labels": {
                                        "add": "Add value"
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Row"
                        },
                        "type": "array",
                        "label": "Rows"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}